.portfolio-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Standardbreite */
    gap: var(--grid-gap);
    margin-bottom: 20px;
}

.portfolio-grid-item {
    border: 1px solid #eee;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    overflow: hidden;
}

.portfolio-grid-item a {
    display: block;
    text-decoration: none;
}

.portfolio-grid-item img {
    transition: transform 0.3s ease-in-out;
}

.portfolio-grid-item:hover img {
    transform: scale(1.05);
}

.portfolio-grid-item .no-thumbnail {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

/* Anpassen für kleinere Bildschirme */
@media (max-width: 768px) {
    .portfolio-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}