#portfolio-grid-editor {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

#portfolio-grid-item-editor {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

#grid-items-container {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f9f9f9;
}

.grid-item {
    padding: 8px;
    border: 1px solid #eee;
    margin-bottom: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-item-actions button {
    margin-left: 5px;
}